h1 {
  margin-top: 20px;
  font-family: 'Josefin Sans', sans-serif;
}

.dropdown {
  text-align: right;
  margin: 10px;
}

#filtering {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.form-group {
  margin: 0px;
  width: 300px;
}

hr {
    margin-top: 30px;
    width: 500px;
}

p {
   color: #2c3e50;
   font-family: 'Josefin Sans', sans-serif;
 }
